

#skills {
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 20px; /* Adicione o padding desejado à esquerda */
    padding-right: 20px; /* Adicione o padding desejado à direita */
    padding-bottom: 40px;
  }
  
  #skills .box-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; /* Centralizar as caixas horizontalmente */
  }
  
  
  #skills h1 {
    padding: 20px;
    margin-top: 0;
    color: var(--words);
  }
  
  
  
    #skills .box-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    
    #skills .box-skill {
      width: 100px;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      text-align: center;
      background-color: #f0f0f0;
      box-shadow: -5px -12px 15px 1px rgba(139,219,237,0.68);
      -webkit-box-shadow: -5px -12px 15px 1px rgba(139,219,237,0.68);
      -moz-box-shadow: -5px -12px 15px 1px rgba(139,219,237,0.68);
  }

 
  
  @media (min-width: 768px) {
     .skills {
      background: chartreuse;
     }
      #skills .box-skill {
          width: calc(21% - 19px); /* 20% width com 20px de margem entre as caixas */
      }
  }
  
  
  
    .box-skill img {
      padding-top: 20px;
      width: 30px;
    }
  
    #skills .box-skill p {
      margin-top: 20px;
      font-size: 10pt;
    }
  
    #skills .box-skill:hover {
      width: 150px;
      height: 150px;
    }
  