/* Projects.css */

.projects {
    display: flex;
    align-items: stretch;
  }
  
  .projects h2 {
    padding-top: 100px;
  }
  .project-card {
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
  }

  .card-text {
    font-size: 8pt;
  }
  
 
  /* Adicione as seguintes regras de estilo para tornar os botões responsivos em dispositivos móveis */
  
  @media (max-width: 767px) {
    .project-card {
      height: auto;
    }
  
    .btn-primary,
    .btn-secondary {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  /* Novas regras para alinhar os botões na mesma linha */
  .row.justify-content-center .project-card {
    margin-right: 10px;
    margin-left: 10px;
  }
  