/* Projects.css */

.projects {
    display: flex;
    align-items: stretch;
  }
  
  
  
  .project-card {
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
  }

  .card-text {
    font-size: 8pt;
  }
  
  /* ... Seus estilos existentes ... */

#projects h2 {
    margin-top: 40px; /* Ajuste conforme necessário para afastar o h2 do topo */
    margin-bottom: -100px; /* Ajuste conforme necessário para aumentar o espaço entre o h2 e os cards */
  }
  
  /* Adicione media queries para dispositivos móveis */
  @media (max-width: 576px) {
    #projects h2 {
      margin-top: 10px; /* Ajuste conforme necessário para afastar o h2 do topo em dispositivos móveis */
      margin-bottom: 5px; /* Ajuste conforme necessário para aumentar o espaço entre o h2 e os cards em dispositivos móveis */
    }
  }
  
 
  /* Adicione as seguintes regras de estilo para tornar os botões responsivos em dispositivos móveis */
  
  @media (max-width: 767px) {
    .project-card {
      height: auto;
    }
  
    .btn-primary,
    .btn-secondary {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  /* Novas regras para alinhar os botões na mesma linha */
  .row.justify-content-center .project-card {
    margin-right: 10px;
    margin-left: 10px;
  }
  