@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores principais claro */
  --color-background: #c1def8;
  --color-foreground: #6366F1;
  --color-primary: #6366F1;
  --color-secondary: #F59E0B;
  --color-accent: #90a8f0;
  --color-muted: #252d3b;
  --background: #121212;
  --foreground: #f5f5f5;
  --color-text: #090909;
 
  /* Texto */
  --color-text: #111827;
  --color-text-muted: #6B7280;

  /* Borda */
  --color-border: #E5E7EB;
}

/* Modo escuro */
.dark {
  --color-background: #041c4f; /* tom azulado */
  --color-foreground: #6366F1;
  --color-primary: #fff;
  --color-secondary: #1ebbf5;
  --color-accent: #bfe5ef;
  --color-muted: #6B7280;

  --color-text: #fff;
  --color-text-muted: #fff;

  --color-border: #374151;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Painel específico para menu mobile */
.menu-mobile-panel {
  background-color: var(--color-background);
  color: var(--color-muted);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 50;
}

/* Overlay do menu mobile */
.menu-mobile-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

/* Estilos globais de botões */
button {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-primary);
}

/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-accent);
}
