:root {
    --blue: #072758;
    --background: linear-gradient(to bottom, #0b3374, #F6F6F6);
    --bg: linear-gradient(to right, #0e2342, #9CA3AF);
    --BG: linear-gradient(to left, #0e2342, #9CA3AF);
    --words: #fff;
    --bg-blue: #122B51;
  }
  
  
  .light {
    --blue: #8fa9ee;
    --background: linear-gradient(to bottom, #dce5f5, #f1f1f1);
    --bg: linear-gradient(to right, #a2abb9, #e7e9ec);
    --BG: linear-gradient(to left, #bbceeb, #ebeef1);
    --words: #000;
    --bg-blue: #dee6fa;
  }
  
   .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  var(--bg-blue);
    padding-bottom: 10px;
    height: 150px;

    
   }

   .Footer p {
    color: var(--words);
   }

   .Footer a {
    text-align: center;
    text-decoration: none;
    color: var(--words);
   }

  
.Footer .email {
  font-size: 14pt;
  font-weight: 600;
}

.Footer .email:hover{
  font-size: 17pt;
  font-weight: 800;
}
  .social-icons a {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .social-icons a > img {
    padding-top: 40px;
    width: 40px;
    
  }

  .social-icons a > img:hover {
    width: 60px;
  }