#projects {
  background: var(--bg);
  padding-top: 70px;
  padding-left: 1.5rem; /* Adjust the left padding to create space to the left of the cards */
  padding-right: 1.5rem; /* Adjust the right padding to create space to the right of the cards */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Rest of your CSS... */

.projects {
  display: flex;
  align-items: stretch; /* Align items to stretch to the same height */
}

.project-card {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Make sure the project cards take 100% height of their container */
}

.card-img-top {
  max-width: 100%;
  height: auto; /* Ensure the image height adjusts proportionally to its width */
}

.card-body {
  flex-grow: 1;
}

.card-text {
  font-size: 8pt;
}

@media (max-width: 767px) {
  #projects {
    padding-right: 1.5rem;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    margin: 10px 0;
    max-width: 300px;
    width: 100%;
  }

  .card-img-top {
    max-width: 100%;
    height: auto;
  }

  .btn {
    width: 100%; /* Make buttons take up full width */
    margin-top: 10px; /* Add some space between buttons on mobile */
  }
}
@media (max-width: 950px) {
  #projects {
    padding-right: 1.5rem;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    margin: 10px 0;
    max-width: 400px; /* Adjust maximum width for tablets */
    width: 100%;
  }

  .card-img-top {
    max-width: 100%;
    height: auto;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }
}

