#projects {
  background: var(--bg);
  padding-top: 70px;
  padding-left: 1.5rem; /* Ajuste o padding esquerdo para criar espaço à esquerda dos cards */
  padding-right: 1.5rem; /* Ajuste o padding direito para criar espaço à direita dos cards */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Restante do seu CSS... */


.projects {
  display: flex;
  align-items: center;
}

.project-card {
  margin: 0 10px; /* Adicione esta linha para criar uma margem uniforme à esquerda e à direita dos cards */
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-text {
  font-size: 8pt;
}

/* Adicione as seguintes regras de estilo para tornar os botões responsivos em dispositivos móveis */
@media (max-width: 767px) {
  #projects {
    padding-right: 1.5rem;
  }

  .projects {
    width: 300px;
    height: 350px;
  }
  .project-card {
    margin: 0 10px; /* Ajuste a margem para dispositivos móveis se necessário */
    height: auto;
  }
}
